entrypoint = "main.py"
modules = ["python-3.11"]

[nix]
channel = "stable-25_05"

[unitTest]
language = "python3"

[gitHubImport]
requiredFiles = [".replit", "replit.nix"]

[deployment]
run = ["python3", "main.py"]
deploymentTarget = "cloudrun"

[agent]
expertMode = true

[userenv]

[userenv.shared]
OPENAI_API_KEY = "OtxR2RS0sJ6suNw0VFgHiVlpF-O_3JlPjdTND02SDrs"

[[ports]]
localPort = 8080
externalPort = 80
